@import "tailwindcss";

body {
    background-color: #ffffff;
    background-image: linear-gradient(#e5e7eb 1px, transparent 1px), linear-gradient(to right, #e5e7eb 1px, transparent 1px);
    background-size: 32px 32px;
    background-attachment: fixed;
}