DATASOURCE_URL= db url
FRONTEND_URL=http://localhost:5173
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_PASSWORD=password
GEMINI_API=key
SENDGRID_API_KEY=key
MAIL_USERNAME=pearl.logistics.com@gmail.com
KEY=key